<br>
<br>
<br>
<br>
<div class="center">
    <form>
        <div class="row" class="col-md-6">
            <input type="text" placeholder="user Name" [(ngModel)]="user.name" [ngModelOptions]="{standalone : true}">
        </div>
        <div class="row" class="col-md-6">
            <input type="text" placeholder="user email" [(ngModel)]="user.email" [ngModelOptions]="{standalone : true}">
        </div>
        <div class="row" class="col-md-6">
            <input type="text" placeholder="user username" [(ngModel)]="user.username" [ngModelOptions]="{standalone : true}">
        </div>
        <div class="row" class="col-md-6">
            <input type="password" placeholder="user password" [(ngModel)]="user.password" [ngModelOptions]="{standalone : true}">
        </div>
        <div class="row" class="col-md-6">
            <input type="text" placeholder="user profession" [(ngModel)]="user.profession" [ngModelOptions]="{standalone : true}">
        </div>
        <div class="row" class="col-md-6"> 
            <input type="text" placeholder="user rolee" [(ngModel)]="user.role" [ngModelOptions]="{standalone : true}">
            <input type="text" placeholder="user role" [(ngModel)]="user.role" [ngModelOptions]="{standalone : true}">

        </div>
        <br>
        <button type="button" class="btn btn-success" (click)="adduser(user)"
            >Add</button> 
        <button type="button" class="btn btn-info" >Cancel</button>
    </form>
</div>
<!-- <form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Please register</h1>
  
    <input formControlName="name" class="form-control" placeholder="Name" required>
    <input formControlName="roles" class="form-control" placeholder="roles" required>
    
  
    <input formControlName="email" type="email" class="form-control" placeholder="Email" required>
  
    <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
  
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
  </form> -->