<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">


        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/">
                Home
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about">
                About
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="#">
                Forum
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/invitation">
                invitation
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="#">
                Trips
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="#">
                Contact Us
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-success-gradiant font-14" routerLink="/singin">
                Login
            </a>
        </li>
        <li class="nav-item" style="margin-left: 5px;">
            <a class="btn btn-danger-gradiant font-14" routerLink="/singup">
                SignUp
            </a>
        </li>
    </ul>

</div>